* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    font-family: "Helvetica", "Arial";
}

.header {
    height: 78px;
    width: 100%;
    background-color: #3498db;
    display: inline-block;
}

.header img {
    width: 53px;
    height: 53px;
    margin: 10px 0 0 0;
}

.header_logo {
    display: inline-block;
}



.header_title {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.615;
    text-align: left;
    vertical-align: bottom;
    height: 53px;
    margin: 10px 0 0 0;
    padding: 5px 0 0 5px;
}

.header_connect {
    margin-top: 20px;
}

.facebook, .google, .twitter
{ display: inline-block; background: url('../img/connect.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.facebook { background-position: -5px -0px; width: 22px; height: 21px; }
.google { background-position: -5px -26px; width: 22px; height: 21px; }
.twitter { background-position: -5px -52px; width: 22px; height: 21px; }

.header_connect a {
    vertical-align: middle;
    position: relative;
    top: -2px;
}


.main_walpapper {
    width: 100%;
    background: url(../img/walpapper.png) #2980b9;
    height: 351px; 
    background-size: cover;
}

.main_walpapper h1 {
    padding-top: 75px;
    font-size: 50px;
    line-height: 0.84;
    color: white;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.main_walpapper p {
    font-size: 30px;
    color: white;
    line-height: 1.333;
    text-align: left;
    padding-right: 400px;
    margin: 20px 0 0 0;
}

.main_description {
    width: 100%;
    height: 252px;
    background-color: #f2f2f2;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper::after {
    content: " ";
    clear: both;
}

.header_connect {
    display: inline-block;
    text-align: right;
    font-size: 13px;
    color: #fff;
    line-height: 2.462;
    text-align: left;
    float: right;
}

.registration_form {
    width: 360px;
    height: 541px;
    float: right;
    z-index: 1;
    position: relative;
    margin: 30px 0 0 0;
    background-color: #fff;
    border-bottom: 5px solid #3498db;
}
.registration_form input {
    padding: 10px;
    margin: 10px 20px auto 20px;
    background-color: #f2f2f2;
    width: 320px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    height: 1.333;
    border: 1px solid #e6e6e6;
}

.registration_form button {
    background-color: #e74c3c;
    width: 220px;
    height: 50px;
    color: white;
    margin: auto;
    border: none;
    font-size: 25px;
    line-height: 1.12;
    margin: 20px auto;
    display: block;
}

.main_description h2 {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 40px 400px 0 0;

}

.main_description p {
    font-size: 13px;
    color: #333333;
    text-align: left;
    line-height: 1.538;
    padding: 25px 400px 0 0;
    
}

.registration_form h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 25px 0;
}
.oportunites_element {
    width: 290px;
}


.oportunites_list h1{
    font-size: 25px;
    color: rgb(52, 152, 219);
    text-transform: uppercase;
    line-height: 1.68;
    text-align: left;
    margin: 30px 0 10px 0;
    
}

.oportunites_element img {
    width: 290px;
    height: 159px;
}

.oportunites_list ul {
    text-align: center;
    margin: 0 -40px;
}

.oportunites_list ul li {
    display: inline-block;
    margin: 10px 25px;
}
.oportunites_element figcaption {
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.8;
    text-align: center;
}

.oportunites_element p {
    font-size: 13px;
    color: #333333;
    line-height: 1.538;
    text-align: center;
}

.oportunites_element a {
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    width: 52px;
    height: 52px;
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    line-height: 3.231;
    text-decoration: none; 
    margin: 25px auto;
}

footer {
    background-color: #3498db;
    width: 100%;
    height: 194px;
    padding-top: 50px;
}

.reviews_slider {
    width: 100%;
    height: 252px;
    text-align: right;
    position: relative;
}



.reviews_slider p{
    display: inline-block;
    font-size: 13px;
    color: #333333;
    line-height: 1.538;
    text-align: left;
    margin: 20px 0 0 0;
}


.reviews_slider h1 {
  font-size: 25px;
  color: rgb(52, 152, 219);
  text-transform: uppercase;
  line-height: 1.68;
  text-align: left;
  display: inline-block;
  float: left;
}

.slider_left {
    background: url(../img/slider-left.png);
    height: 44px;
    width: 44px;
    display: inline-block;
}

.slider_right {
    background: url(../img/slider-right.png);
    height: 44px;
    width: 44px;
    display: inline-block;
}
        


.get_started {
    background-color: #f2f2f2;
    width: 100%;
    height: 191px;
}

.get_started a {
    display: inline-block;
    background-color: #e74c3c;
    width: 540px;
    height: 60px;
    color: white;
    border: none;
    font-size: 25px;
    margin: 65px 0 0 0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 0 0 25px;
    text-decoration: none;
    position: relative;
}

.get_started a::after {
    content: " ";
    display: inline-block;
    background: url(../img/arrow.png);
    height: 36px;
    width: 36px;
    position: relative;
    top: 9px;
    left: 15px;
}

.reviews_slider_photo {
    background: url(../img/amanda.png) no-repeat;
    z-index: 1;
    height: 364px;
    width: 225px;
    float: right;
    position: relative;
    top: 32px;
}


blockquote {
    margin: 0 300px 0 0;
    
}

blockquote::before {
    content: " ";
    background: url(../img/open-quote.png);
    display: block;
    width: 19px;
    height: 14px;
    margin-top: 25px;
}

blockquote::after {
    content: " ";
    background: url(../img/close-quote.png);
    display: block;
    width: 19px;
    height: 15px;
    margin-top: 20px;
    float: right;
}

blockquote p {
  display: inline;
}

.reviews_slider cite {
    display: block;
    text-align: right;
}

.footer_title {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    width: 260px;
    border-right: 1px solid #2980b9; 
}

.footer_connect {
    display: inline-block;
    color: white;
    width: 650px;
    vertical-align: top;
    padding: 15px 10px;

}

.footer_connect p {
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1.538;
    text-align: left;
    display: inline-block;
}



.footer_connect a {
    vertical-align: middle;
    position: relative;
    top: -2px;
}


.footer_title::before {
    content: url(../img/logo.png);
    height: 47px;
    width: 47px;
    display: none;
}

.footer_logo {
    display: inline-block;
    height: 67px;
    width: 67px;
}

.footer_title h1 {
    display: inline-block;
    height: 49px;
    width: 156px;
    vertical-align: super;
}



@media (max-width: 990px) {
.oportunites_list ul li {
    display: block;
    }
    
.oportunites_element {
    width: 100%;
}
    
.oportunites_element figcaption {
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.8;
    text-align: center;
    display: inline-block;
}

.oportunites_element p {
    font-size: 13px;
    color: #333333;
    line-height: 1.538;
    text-align: left;
    margin-left: 5px;
}
    
.oportunites_element img {
    width: 290px;
    height: 159px;
    float: left;
}
    
.oportunites_element a {
    display: inline-block;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    width: 52px;
    height: 52px;
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    line-height: 3.231;
    text-decoration: none; 
    margin: 5px 0 0 5px;
}
